html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body, footer {
  background-color:#f9f3e7;
}


/*logo position adjustment*/
.navbar-brand {
  margin-left: -70px;
}

/*Message bar customization*/
.message-bar {
  font-weight: 300;
  font-size: 0.75rem;
  position: relative;
}

.navbar {
  top: 0;
}

.logo-img {
  width: 100%;
  height: auto;
}



